API_KEY=
ARK_API_KEY=
CGT_ENDPOINT_ID=
LLM_ENDPOINT_ID=
T2V_ENDPOINT_ID=
TOS_ACCESSKEY=
TOS_SECRETKEY=
TOS_BUCKET=video-gen-tyh-20260608
TTS_ACCESS_KEY=
TTS_API_RESOURCE_ID=volc.service_type.10029
TTS_APP_KEY=
TTS_BASE_URL=wss://openspeech.bytedance.com/api/v3/tts/bidirection
TTS_NAMESPACE=BidirectionalTTS
TTS_SPEAKER=zh_female_xiaohe_uranus_bigtts
VIDEOPILOT_BASE_URL=https://prompt-pilot.cn-beijing.volces.com/video-pilot/v2
VIDEOPILOT_WORKSPACE_ID=vp_v2
IMAGE_GENERATION_CONCURRENCY=3
_FAAS_RUNTIME_PORT=8889
